---
layout: layouts/base.njk
pagination:
  data: categories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "/blog/{{ category.key }}/"
eleventyComputed:
  title: "{{ strings[lang].categories[category.key] | safe }}"
  description: "{{ strings[lang].blog.categoryLead | replace('{category}', strings[lang].categories[category.key]) | safe }}"
  translationKey: "blog-{{ category.key }}"
---
<p class="lead">{{ strings[lang].blog.categoryLead | replace("{category}", strings[lang].categories[category.key]) }}</p>
<p class="blog-rss"><a href="/feed.xml" type="application/rss+xml">{{ strings[lang].blog.rss }}</a></p>
{% set posts = collections["posts_" + lang + "_" + category.key] %}
{% include "partials/article-list.njk" %}
<p><a href="/blog/">{{ strings[lang].blog.title }}</a></p>
