---
layout: layouts/base.njk
translationKey: blog
titleInContent: true
aiGenerated: true
humanReviewed: true
eleventyComputed:
  title: "{{ strings[lang].blog.title | safe }}"
  description: "{{ strings[lang].blog.lead | safe }}"
---
{%- include "pages/blog/index.njk" -%}
