---
layout: layouts/base.njk
pagination:
  data: categories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "/sv/blog/{{ category.key }}/"
titleInContent: true
aiGenerated: true
humanReviewed: true
eleventyComputed:
  title: "{{ strings[lang].categories[category.key] | safe }}"
  description: "{{ strings[lang].blog.categoryLead | replace('{category}', strings[lang].categories[category.key]) | safe }}"
  translationKey: "blog-{{ category.key }}"
---
{%- include "pages/blog/category.njk" -%}
