---
layout: layouts/base.njk
translationKey: about
titleInContent: true
aiGenerated: true
humanReviewed: true
eleventyComputed:
  title: "{{ strings[lang].about.title | safe }}"
  description: "{{ strings[lang].about.description | safe }}"
---
{%- include "pages/about.njk" -%}
