---
layout: layouts/base.njk
translationKey: home
titleInContent: true
aiGenerated: true
humanReviewed: true
eleventyComputed:
  title: "{{ strings[lang].home.title | safe }}"
  description: "{{ strings[lang].home.description | safe }}"
---
{%- include "pages/index.njk" -%}
